<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657080562755-c69pm60gbocffbhp3vf1tlcro35tq329.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657080562755-c69pm60gbocffbhp3vf1tlcro35tq329</string>
	<key>API_KEY</key>
	<string>AIzaSyAUZQ8Lo3QPgWd9iMva8Xeix_gmaNgRpYo</string>
	<key>GCM_SENDER_ID</key>
	<string>657080562755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curioHealth</string>
	<key>PROJECT_ID</key>
	<string>curio-37010</string>
	<key>STORAGE_BUCKET</key>
	<string>curio-37010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657080562755:ios:8e19842b85b3a2dcc110f6</string>
	<key>DATABASE_URL</key>
	<string>https://curio-37010.firebaseio.com</string>
</dict>
</plist>